{
  "printWidth": 120,
  "useTabs": true,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        ".eslintrc",
        ".prettierrc",
        ".lintstagedrc",
        "*.json"
      ],
      "options": {
        "parser": "json-stringify",
        "useTabs": false,
        "printWidth": 80
      }
    },
    {
      "files": [
        "*.md"
      ],
      "options": {
        "useTabs": false,
        "printWidth": 80
      }
    }
  ]
}
