<main>
	<h1>Hello Angular!</h1>
	<button type="button" [disabled]="!(widgetIsReady$ | async)" (click)="handleChangeGroup()">Change group</button>
	<pre>Widget is ready: {{ widgetIsReady$ | async }}</pre>
	<pre>Widget state: {{ widgetState$ | async | json }}</pre>
	<pre>Customer data: {{ customerData$ | async | json }}</pre>
	<pre>Chat data: {{ chatData$ | async | json }}</pre>
	<pre>Greeting: {{ greeting$ | async | json }}</pre>

	<livechat-widget
		license="12332502"
		[group]="group"
		visibility="maximized"
		customerName="John Doe"
		customerEmail="john.doe@example.com"
		(onNewEvent)="handleNewEvent($event)"
		(onFormSubmitted)="handleFormSubmitted($event)"
		(onRatingSubmitted)="handleRatingSubmitted($event)"
	></livechat-widget>
</main>
